# Aladin API Key
TTB_KEY=ttb_key

# EC2 Server Configuration (IP for Prometheus metrics)
EC2_HOST=ec2_ip
EC2_ACTUATOR_PROD_PORT=production_port
EC2_ACTUATOR_DEV_PORT=development_port

# API Domain Configuration
API_DOMAIN_PROD=production_domain
API_DOMAIN_DEV=development_domain

# k6 Test Configuration
K6_BASE_URL=base_url_for_test

# Prometheus
PROMETHEUS_PORT=9090

# Grafana
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
